<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartcart">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icd2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Sale"></activity>
        <activity android:name=".SaleManagement" />
        <activity android:name=".StrokeManagement" />
        <activity android:name=".User" />
        <activity android:name=".Management" />
        <activity android:name=".AdminMenu" />
        <activity android:name=".UserMenu" />
        <activity android:name=".find_password_result"/>
        <activity android:name=".find_id_result" />
        <activity android:name=".find_password" />
        <activity android:name=".find_id" />
        <activity android:name=".ShoppingList" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".cartConnection"/>
        <activity android:name=".change_information"/>
        <activity android:name=".change_information2"/>
        <activity android:name=".purchase_history"/>
        <activity android:name=".CalendarActivity2"/>

        <activity
            android:name=".splashscreen"
            android:label="ICD SHOP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>